<div class="mat-elevation-z8">
  <button mat-flat-button color="primary" (click)="onAcceptClick('element.operate')">查询</button>
  <button mat-flat-button color="primary" (click)="onAddClick('element.operate')">新增</button>

  <table mat-table [dataSource]="this.dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>编号</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon  svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
         {{ element.position }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 商家名称</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> 头像</th>
      <td mat-cell *matCellDef="let element">
        <img
          style="width: 50px;height: 50px;"
          src="{{element.icon}}"
          alt="Card image cap"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>联系电话</th>
      <td mat-cell *matCellDef="let element"> {{ element.phone }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> 地址</th>
      <td mat-cell *matCellDef="let element"> {{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="operate">
      <th mat-header-cell *matHeaderCellDef> 操作</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="onAcceptClick(element.operate)">Accept</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
